# 인공 데이터

- 인위적으로 만든 데이터
    - 각 피처와 타깃값의 의미를 알 수 없음
    - 데이터에 아무런 의미를 부여하지 않음
    
    
- 모든 데이터는 범주형
    - 값이 두 개로만 구성된 이진 데이터
        - bin_
        
    - 순서형 데이터(ordinal data)
        - ord_
        - ord_3, ord_4, ord_5는 알파벳순서로 고유값 순서를 매김
        
    - 명목형 데이터(nominal data)
        - nom_
        
    - 날짜 데이터
        - day
        - month
        
- 종속변수도 이진 데이터
    - 0과 1로 구성됨

In [33]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score, cross_validate

# 데이터 확인

In [4]:
train_df = pd.read_csv("data/cat-in-the-dat/train.csv", index_col="id")
test_df = pd.read_csv("data/cat-in-the-dat/test.csv", index_col="id")
submission_df = pd.read_csv("data/cat-in-the-dat/sample_submission.csv", index_col="id")

In [5]:
train_df.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [6]:
test_df.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,Piano,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
300001,0,0,0,T,N,Red,Square,Lion,Canada,Piano,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
300002,1,0,1,F,Y,Blue,Square,Dog,China,Piano,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
300003,0,0,1,T,Y,Red,Star,Cat,China,Piano,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
300004,0,1,1,F,N,Red,Trapezoid,Dog,China,Piano,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11

In [7]:
submission_df.head()

        target
id
300000     0.5
300001     0.5
300002     0.5
300003     0.5
300004     0.5

In [8]:
train_df.describe(include="all")

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
count,300000.000000,300000.000000,300000.000000,300000,300000,300000,300000,300000,300000,300000,...,300000,300000.000000,300000,300000,300000,300000,300000,300000.000000,300000.000000,300000.00000
unique,NaN,NaN,NaN,2,2,3,6,6,6,4,...,11981,NaN,5,6,15,26,192,NaN,NaN,NaN
top,NaN,NaN,NaN,T,Y,Green,Trapezoid,Lion,Russia,Oboe,...,163cc60fa,NaN,Novice,Freezing,g,L,od,NaN,NaN,NaN
freq,NaN,NaN,NaN,153535,191633,127341,101181,101295,101123,92293,...,72,NaN,126583,99816,36405,19066,5019,NaN,NaN,NaN
mean,0.127503,0.256607,0.383223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.479567,NaN,NaN,NaN,NaN,NaN,3.007817,5.771113,0.30588
std,0.333537,0.436761,0.486173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.712524,NaN,NaN,NaN,NaN,NaN,1.817949,3.843519,0.46078
min,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.00000
25%,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,0.00000
50%,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,3.000000,4.000000,0.00000
75%,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,4.000000,9.000000,1.00000
max,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.000000,NaN,NaN,NaN,NaN,NaN,7.000000,12.000000,1.00000

- 모델 평가 기준 : AUC_SCORE

## 데이터 확인(컬럼별)

In [9]:
for col in train_df.columns:
    print(f"Columns : {col} : ", train_df[col].unique())

Columns : bin_0 :  [0 1]
Columns : bin_1 :  [0 1]
Columns : bin_2 :  [0 1]
Columns : bin_3 :  ['T' 'F']
Columns : bin_4 :  ['Y' 'N']
Columns : nom_0 :  ['Green' 'Blue' 'Red']
Columns : nom_1 :  ['Triangle' 'Trapezoid' 'Polygon' 'Square' 'Star' 'Circle']
Columns : nom_2 :  ['Snake' 'Hamster' 'Lion' 'Cat' 'Dog' 'Axolotl']
Columns : nom_3 :  ['Finland' 'Russia' 'Canada' 'Costa Rica' 'China' 'India']
Columns : nom_4 :  ['Bassoon' 'Piano' 'Theremin' 'Oboe']
Columns : nom_5 :  ['50f116bcf' 'b3b4d25d0' '3263bdce5' 'f12246592' '5b0f5acd5' '46cab09da'
 'be5592604' '72f8028dc' '4604905e7' 'ad95dc0ee' '2ff007c26' 'a35c346aa'
 'dbfb714a4' 'e1558b071' '39647c92a' 'ee55b9d67' '416a8f3ab' '91bde92fa'
 '3aa9329e2' '568550f04' 'caf83c0b5' '908a1b9c9' 'e844a1f66' 'dbc448931'
 '2979f0d45' '96c73114c' 'b7bb45938' '7da3e4aec' 'be4578201' 'dc07effb0'
 '88917a066' 'f2d59cf51' '5d18641ff' '9347491f2' '475e79160' 'e70a6270d'
 '5b1a9f841' 'e0efe9d20' 'd1b1709e8' '9bb7ea2da' '6fec43dd8' '0dee9b39a'
 '527ded12a' '321bf770e' 'f7821e391' '0de4acd31' '185ba0a59' '4845cc770'
 'bdb9fef4a' '3fef1a765' '2cc9e16b9' 'fd04a970f' '81f9d3312' '30a15b6bd'
 '8dcf8adfb' '83b38aa6b' '74bd42d5f' '5a94fc1d9' '4e1b529f6' '8d5d9f3db'
 '472efea17' '740fb99a9' '075ceb58b' '0ef5c1879' '640e1fdd5' 'a3f640358'
 'c5725677e' '3b5632a0c' '534be2753' '30a530eab' '7ee26092e' 'c0534106d'
 '713ad10a7' '9ad6558d1' 'ef38568df' 'de04b8750' 'bd40c81f3' 'ade526ba7'
 '4e28ceffa' '1305d6e77' '3585ff84b' 'b0c8dba76' '33adb4760' '66669a44f'
 '9ba4e87a7' 'f50eb07ae' '29e7f8525' 'd9becff68' '159a7306f' 'a5c276589'
 '0870880f6' '92190168b' '5a466e166' 'e7d9ca356' 'd372c8993' 'b0faff28f'
 'e5b29c42b' 'b97f51ac4' '778fdbe56' 'f0c1ceee4' '8266050c6' '6f70dc2df'
 '84b0081ad' '4464569ee' 'e85ec20b5' '91ea3e4dd' 'e6f45aa26' '488406659'
 '1e6cb96e8' 'f9d17bb93' '40e0157b1' 'e9f44a509' '493de6347' 'f8faea16f'
 '0eb46e992' '63f642dd9' '1f1702d2f' '71583d387' 'c2843dc45' '2e7f4d636'
 '6a2269152' '924346656' '6cd0619e0' '91a20b464' '3685a0904' '0de5598a9'
 '3aabfa2fc' '115a252ba' 'eb69430d6' '05950689f' '037bd73d8' '81264f81f'
 '19db35594' '005dd4ce3' '20b10a832' 'ddac78300' 'baab29d3d' 'bd7740b93'
 '524b3f349' '60a44c8f4' '8573fa81a' '35f65a9bf' '372f6d6ce' 'af088d192'
 'e52fbf1c8' '49f4b29cc' 'a9ed6dfea' 'b8d451029' 'a3471b9d9' '06eeaf0aa'
 'f6c524860' 'df51b96fc' '479fd7aea' 'dd500b26a' '7e9cb0f9a' 'db5e25328'
 '2d61990e2' '2cadfed8e' 'e428c040e' '4f7d91943' '88707c9ab' '76be0b8b1'
 '1bd1068d9' '0b3bec656' 'a51e7974e' '85159d577' '96c83ac09' '6c90f81cd'
 'a93b89fc9' '0bdf8165a' 'da60580a8' 'f2a6d797b' '7741f57bd' '2a0e95ba1'
 'ead12da87' 'e08092732' '176809a41' 'ca82ad111' '17a3709ae' '3271e5526'
 '4173a0252' '116f7e3e2' 'defc6dd20' 'e9c6fe0f7' '4f2b65e1e' '0870b0a5d'
 '552e3fdc9' '05d5943a3' '586b51342' '79923828f' '077fd9465' 'f9e5266f9'
 '6020a8124' '8cf6c9f74' '09a4ad97d' 'b4c8e6595' 'fa0a88fe9' '59e434d8a'
 '200009fc3' '59497d53c' '77b08badd' 'eb0004a0b' '34ad60330' '3283ca434'
 '2cac4af40' 'f802a9849' 'c08ba4f4c' '09ed0a686' '5f7065a42' 'a21564cab'
 '7a12c88d2' '82d1a6dbb' '9ecc58be1' 'd3079098d' '4ebe94c28' '448a66834'
 '46bd3558d' '91c80026f' '88f104c00' 'f710fca39' '5331f98fb' '1fd0233cd']
Columns : nom_6 :  ['3ac1b8814' 'fbcb50fc1' '0922e3cb8' '50d7ad46a' '1fe17a1fd' '29a854620'
 '3393a0f78' '55eed5058' '3e44d44eb' '8ed6221ae' '153316f52' '6ea52a806'
 '1795ef28b' '628f3170f' '08b282a6c' '395941181' 'd44f7245a' '78500847e'
 '9448b8e3b' '9b1c3c8b7' 'be5a0f5a9' '687eaba3e' '5d7c5c023' '92f461454'
 'cd8e3a0a7' 'f24d83141' '16dfb662a' 'cefab1020' '508ff88dc' '6d2cd10c5'
 'ddb583aa3' '2eadb68c5' '854f72f28' '42b1cc2fd' 'fa2bf5f22' '8fec7bc42'
 'fc4518443' 'bc82e0ba0' '1ad744242' '5cbbea089' '8fb440e53' 'af9278b96'
 '180a3d6cb' 'e10910468' '2ed5a94b0' '2a22b315e' '55a24a71b' 'c3517eaeb'
 'cf82b283d' '0b10fcecc' 'a028c07af' 'd213f48ed' '5a5e620b3' 'c023e914a'
 '9f53d30ad' '2d9852300' '8cc791aa8' '54474e8d8' '36df19a6e' '0bcb379d8'
 '7dd3f58e9' '975346729' '96c110558' '8bb163a87' 'df5b440ae' 'd760c59b0'
 'e3396fbd5' 'f497b97d7' 'd405aebc1' '6c0354890' '8c9d16cc3' '9e0a099c7'
 'fac5eff9e' 'c9eedfbc2' '44e4c0bba' 'c8436c277' 'acf5b10dd' 'a405b7cf0'
 'dfb9bd114' 'b69c236cb' 'b8caba53f' '126a4f83d' '2df6f79a2' '565a89e93'
 '29e27ff9d' '2268327b2' 'fb80a804f' 'a406a5f12' '3bac0bd8e' 'ea7a1aaf6'
 'ec5064acb' 'f083d48ad' 'd4fd01769' 'fd9370b9e' 'a9925d0e5' '09e796196'
 '603232dea' 'd43e63dc9' '5194690a0' 'cf8b12b4e' 'dfb457d2a' 'a26bedd00'
 '3c5d81a52' '3b9693870' '96abdfa66' 'd88fca3ba' 'eeda68203' '487c32dfa'
 'c135cdf77' 'd4d727716' '5755f93b2' '642fcc7be' '4c1bdbe7b' 'efa38c99d'
 '6d7f8c086' '7112aaf8e' 'e0664a4d3' 'aed51f2c9' '02d689659' '7d8bc814a'
 '70a942fc1' '2cd425e1f' '63d0e6105' 'e77244b50' '839a6bcdb' '18a901239'
 'fc613f31d' '0e2f036b5' 'ae67aec36' 'f14fe8bc5' 'fc88900c4' 'fbbdfc611'
 '71c68195d' '718fd9453' 'c73e4dfe1' '20dc501c6' '89e65bb86' '21e2c2d57'
 '017eb57f0' 'dee9cf5e9' '9abb2ac1a' 'ec416c384' '0d50f61fd' '36282e811'
 '113deddc9' 'df184daf2' 'd166613dc' '8bd314488' '1abac47d0' 'fe0cddc2c'
 '5c4ee13e3' 'f461f837c' '24a1bea30' '498b2bdcb' 'ebd664cd6' 'e2559b9ab'
 'b628a222c' 'dc0536549' '2bdc0a5d0' '5cabda141' 'b321e8ee3' '9218550d8'
 '29b650229' 'f0c4b23ef' '520806ce2' '4f849ad2d' 'e550bcc1b' '34256b89f'
 '309e105f1' '2f6efc190' 'df91d98af' '8bbe5580d' '3e41282ec' '77ad092c1'
 'afebf0803' 'edb3cf6c8' '4e6cc8696' 'b5f4a755a' 'bb219c9ac' '1869e63b0'
 '32b4b12b1' 'ea64fbdeb' '40ac3fcd5' 'd9004c5c2' '4daee3baf' '9a16c7c8f'
 '9ceb19dd6' '063f4307d' '85885b27e' '27828c378' '7909ef46d' '8518cecf3'
 'baef8ee7b' 'c103290d4' 'cae4fb7f2' '74e0be86d' '882ce2ad7' 'cebefe5b5'
 '0302f1ffc' '0b23e3352' 'c79a72c72' 'c75b3104a' 'e16557b2b' 'adfb4cba3'
 '01455237a' 'f36d9a851' '031d49dfc' 'cd225807c' 'c0f1061ee' 'dd1dbed78'
 '5786b10d7' 'b1faf70a1' 'f425b1c8c' '612641073' 'd76a148ab' 'c36cea1f7'
 '90ba6c9a6' 'b511f5bff' '6046454de' 'c06f1b9f7' '6f438920f' '6057ca561'
 'b1c48d202' '65aae1692' '50e49ea04' 'db64717a3' 'db35bbdcb' '57aa15561'
 'bf82c01fa' '5fa8beadb' 'e63f69ba1' '25d3a1087' '28b8e5350' 'ac8c42404'
 '9972df3b0' '2473094a9' 'c9a951efa' '32be571ee' '5b2d457f3' '9afd9530d'
 '86021cf04' 'a520e2537' '7e240024b' 'aed128d19' '66e2654cb' '0aeb8fe13'
 '43b8c397b' 'f134870d4' 'a6542cec0' '8fbaca82e' '4990652ec' '06835761e'
 'b9f08dc06' '49bceb215' '97b6a3518' '28645754b' '338b8a987' '8817e18d1'
 '37868097a' '6c90b0073' 'fa3f6d36f' 'd6f8634af' '7f3c463a8' 'b300717cf'
 '35f33a8ca' '80b2270f0' 'bd47c2363' 'ad1b42856' '32db19124' 'e495d6f0f'
 'd95501ac1' 'fa498a5ae' '2c7fb8434' '5fd7600de' '322121abf' '1ab5e5ad6'
 '1611d2b45' '4cb66e369' 'd70a70804' '51f28e64c' '6eaaa8418' 'eaaf53f6a'
 '418e9e936' '3c1c64eaa' '96d5497a4' 'd173ac7ca' '4cf47e292' 'f8c5dc0e0'
 'd942d1e82' '1ea13ded7' '46c89ef8d' '966f4a973' '71534b2a8' 'f7e243b5d'
 'ec97e8751' 'bc31d6a6d' 'dce959dcb' 'a19d81efe' '8082e0409' '4b967eac4'
 '11698a0b3' '70994b28a' 'cd2fa6d62' '15ea6e2bb' 'b48077cc4' '8f897ec3c'
 'c5cf1fdc4' '73dd803d0' '2546024d1' 'a20513779' '67bb6c9d7' '3c2b12c56'
 '944239e54' 'b238965eb' 'b73a8ae77' '20636817e' 'd42f2b9ec' 'a566016d6'
 '126c2e512' 'fd2344f16' '945aa2bc5' '7d13ad097' 'bedc798e7' '81d59974c'
 'a78e38dad' '339c0fa05' '23311af90' 'cd94f29d1' '708e87b0e' '12d88c9c3'
 'ffc60be1c' 'd2ce6b1c7' '68dd873e4' '6a53b5f5c' '89a937a9f' '78acf1908'
 '1c34a67d7' '51d5f02c1' '985c40910' 'b83511180' '54efb1985' '788ba7aea'
 '51477cd88' '19505136a' '309707034' 'beb20ea99' 'e7a7bf2e1' 'cad70d692'
 '116d9fcd9' '8fd64cb59' '5fc007fd3' '95572215a' '987d29cca' '162fc2192'
 '7a8736321' '8a34317cb' 'e4d51bdd5' '2936160c7' '67721d105' '097ff91b3'
 '79a82b7c0' 'c3c8b7b13' 'd83ae1b30' '74e5a0bce' '4fa3092a4' '860bb37b4'
 '5d47a598c' 'eaa89fbcc' '231233ca9' '2837cf7b8' 'e7073f6a2' '1b36c0b8c'
 '5ff2c0a8c' '73d7ca889' '5a49dd8f6' '43744dfd9' 'b2480a857' '485fc6466'
 '705cb7579' '077e720aa' '8d1b72979' '27e7dbafa' 'cbb210c0a' '9a70de492'
 '91e1a9d16' 'aee98fa47' '0ed70b7b1' 'd5febb6ef' '1537295c3' 'f64fe5bc0'
 'e19cd8107' '800577110' '7185a30dc' '3c7643929' '49d1a98ef' '1573e6c5f'
 'b3e59b54a' '0958071b5' 'd086fd85e' '3aa0689eb' 'd2c8f2916' 'fc791ebea'
 'b639793f9' '944531331' 'd9e884466' 'c7201df85' '3ae0ef9f1' '0ef3dda96'
 '21cb526c2' '1e5e03a86' 'd9e131846' '5f57e7d4f' '8ad083b20' '4abed74f5'
 '8c8aa1d64' 'ac3e34eff' '19231be54' 'd804d7926' '803f6cece' 'd7fb439cc'
 'ed8157b96' '1f2e3f148' '1c7f1ab58' '0249d8675' '144279ac1' '3afd0489b'
 'ef1f6146b' 'fe77c71bd' 'bbc311f15' '9fbd66490' '4c6d8f959' '83f07ed50'
 '163b28322' 'fb1301ef6' '214f24d39' '2c4223dbd' 'f17881964' '3e6a88574'
 '145d17afb' '8584a02f4' '6c1a5aab7' '40994d768' '527a42dc2' 'bea839b58'
 'e866d44ea' 'a148d86df' '310b1a988' '3e2b4aac9' '9a20c66da' '09f69436c'
 '78e45cd66' '3fe2d05f7' '5e881b059' '2119a6f87' 'd9025a066' '4c183f1ef'
 '292dea6ab' 'f53d92c1a' 'c0e4c4487' '7cb06ca3c' '99fffb9e9' '1f40b9ca8'
 'b8cf041db' '9882f1fa0' 'cc8755307' '95a263224' 'eba84389c' '39981f199'
 '7322ea1c9' '907d87214' '75645dad3' '2ae2bd37c' 'd39b176b6' '329124d64'
 'ae49fec17' 'ec93484e7' 'baf172f58' '989a51202' '435fd233e' 'b2c93e83d'
 '4d5fc69ae' 'b3f15d742' 'cfc8d0828' 'fc88d723d' 'a9b4474f4' 'e78ce8c35'
 '9d6fa150a' '0000ee65f' '00e9c15b8' 'f81cde28d' '76ef650e6' '437d8df71'
 'b436c2568' '9a92bb693' 'fe0b55cd2' '70a040495' '0b17eaec7' 'ce528707a'
 '77ab97a87' '906c833b2' '782664588' 'e97824431' 'b7c276ed2' '7433a98da'
 '2d8a0cf5a' '576b27b37' 'b7d62cb4e' '0516fa0d8' '7cd1571c9' '17e0c4fa9'
 'f4689e520' '556aa5d7a' '062cd9a70' '9c5ea36f8' '3fe8e9cba' '1ff467489'
 '82f75f00e' '27179d6e5' '8367b78fc' '28630a5c8' '26bf5ddd9' '4dcab4fc8']
Columns : nom_7 :  ['68f6ad3e9' '3b6dd5612' 'a6a36f527' ... '7aaa810eb' '74a1b69b1'
 '3460d7c4b']
Columns : nom_8 :  ['c389000ab' '4cd920251' 'de9c9f684' ... '5361d3b53' 'e4d784581'
 '44f729e5a']
Columns : nom_9 :  ['2f4cb3d51' 'f83c56c21' 'ae6800dd0' ... 'c9751f01d' '3b51e3e0d'
 'e05e4c676']
Columns : ord_0 :  [2 1 3]
Columns : ord_1 :  ['Grandmaster' 'Expert' 'Novice' 'Contributor' 'Master']
Columns : ord_2 :  ['Cold' 'Hot' 'Lava Hot' 'Boiling Hot' 'Freezing' 'Warm']
Columns : ord_3 :  ['h' 'a' 'i' 'j' 'g' 'e' 'd' 'b' 'k' 'f' 'l' 'n' 'o' 'c' 'm']
Columns : ord_4 :  ['D' 'A' 'R' 'E' 'P' 'K' 'V' 'Q' 'Z' 'L' 'F' 'T' 'U' 'S' 'Y' 'B' 'H' 'J'
 'N' 'G' 'W' 'I' 'O' 'C' 'X' 'M']

Columns : ord_5 :  ['kr' 'bF' 'Jc' 'kW' 'qP' 'PZ' 'wy' 'Ed' 'qo' 'CZ' 'qX' 'su' 'dP' 'aP'
 'MV' 'oC' 'RL' 'fh' 'gJ' 'Hj' 'TR' 'CL' 'Sc' 'eQ' 'kC' 'qK' 'dh' 'gM'
 'Jf' 'fO' 'Eg' 'KZ' 'Vx' 'Fo' 'sV' 'eb' 'YC' 'RG' 'Ye' 'qA' 'lL' 'Qh'
 'Bd' 'be' 'hT' 'lF' 'nX' 'kK' 'av' 'uS' 'Jt' 'PA' 'Er' 'Qb' 'od' 'ut'
 'Dx' 'Xi' 'on' 'Dc' 'sD' 'rZ' 'Uu' 'sn' 'yc' 'Gb' 'Kq' 'dQ' 'hp' 'kL'
 'je' 'CU' 'Fd' 'PQ' 'Bn' 'ex' 'hh' 'ac' 'rp' 'dE' 'oG' 'oK' 'cp' 'mm'
 'vK' 'ek' 'dO' 'XI' 'CM' 'Vf' 'aO' 'qv' 'jp' 'Zq' 'Qo' 'DN' 'TZ' 'ke'
 'cG' 'tP' 'ud' 'tv' 'aM' 'xy' 'lx' 'To' 'uy' 'ZS' 'vy' 'ZR' 'AP' 'GJ'
 'Wv' 'ri' 'qw' 'Xh' 'FI' 'nh' 'KR' 'dB' 'BE' 'Bb' 'mc' 'MC' 'tM' 'NV'
 'ih' 'IK' 'Ob' 'RP' 'dN' 'us' 'dZ' 'yN' 'Nf' 'QM' 'jV' 'sY' 'wu' 'SB'
 'UO' 'Mx' 'JX' 'Ry' 'Uk' 'uJ' 'LE' 'ps' 'kE' 'MO' 'kw' 'yY' 'zU' 'bJ'
 'Kf' 'ck' 'mb' 'Os' 'Ps' 'Ml' 'Ai' 'Wc' 'GD' 'll' 'aF' 'iT' 'cA' 'WE'
 'Gx' 'Nk' 'OR' 'Rm' 'BA' 'eG' 'cW' 'jS' 'DH' 'hL' 'Mf' 'Yb' 'Aj' 'oH'
 'Zc' 'qJ' 'eg' 'xP' 'vq' 'Id' 'pa' 'ux' 'kU' 'Cl']
Columns : day :  [2 7 5 4 3 1 6]
Columns : month :  [ 2  8  1  4 10  3  7  9 12 11  5  6]
Columns : target :  [0 1]

In [10]:
train_df.columns

Index(['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2',
       'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_0',
       'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month', 'target'],
      dtype='object')

In [11]:
pd.get_dummies(train_df[["bin_0", "bin_1", "bin_2", "bin_3", "bin_4"]])

        bin_0  bin_1  bin_2  bin_3_F  bin_3_T  bin_4_N  bin_4_Y
id
0           0      0      0        0        1        0        1
1           0      1      0        0        1        0        1
2           0      0      0        1        0        0        1
3           0      1      0        1        0        0        1
4           0      0      0        1        0        1        0
...       ...    ...    ...      ...      ...      ...      ...
299995      0      0      0        0        1        1        0
299996      0      0      0        1        0        0        1
299997      0      0      0        1        0        0        1
299998      0      1      0        1        0        0        1
299999      0      0      0        1        0        0        1

[300000 rows x 7 columns]

In [12]:
bin_0_df = pd.get_dummies(train_df["bin_0"], prefix="bin_0")

In [13]:
bin_1_df = pd.get_dummies(train_df["bin_1"], prefix="bin_1")

In [14]:
bin_2_df = pd.get_dummies(train_df["bin_2"], prefix="bin_2")

In [15]:
bin_3_to_4_df = pd.get_dummies(train_df[["bin_3", "bin_4"]])

In [16]:
nom_0_to_4_df = pd.get_dummies(train_df[["nom_0", "nom_1", "nom_2", "nom_3", "nom_4"]])

In [17]:
nom_5_df = pd.get_dummies(train_df["nom_5"])

In [18]:
train_df["nom_5"].map(lambda x: int(x, base=16))

id
0         21727636431
1         48239551952
2         13526359269
3         64728884626
4         24443727061
             ...
299995    14485399999
299996    19108194839
299997     3739857818
299998    60487676017
299999    17560040363
Name: nom_5, Length: 300000, dtype: int64

In [19]:
nom_6_df = pd.get_dummies(train_df["nom_6"])

In [20]:
nom_7_df = pd.get_dummies(train_df["nom_7"])

In [22]:
nom_8_df = pd.get_dummies(train_df["nom_8"])

In [21]:
nom_9_df = pd.get_dummies(train_df["nom_9"])

In [23]:
ord_0_df = pd.get_dummies(train_df["ord_0"], prefix="ord_0")

In [24]:
ord_1_to_5_df = pd.get_dummies(train_df[["ord_1", "ord_2", "ord_3", "ord_4", "ord_5"]])

In [25]:
day_df = pd.get_dummies(train_df["day"], prefix="day")

In [26]:
month_df = pd.get_dummies(train_df["month"], prefix="month")

In [27]:
x = pd.concat([bin_0_df, bin_1_df, bin_2_df, bin_3_to_4_df, nom_0_to_4_df, nom_5_df, nom_6_df, nom_7_df, nom_8_df, nom_9_df, ord_0_df, ord_1_to_5_df, day_df, month_df], axis=1)

In [28]:
y = train_df["target"]

In [29]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 299999
Columns: 16461 entries, bin_0_0 to month_12
dtypes: uint8(16461)
memory usage: 4.6 GB

In [34]:
logi = LogisticRegression()

In [ ]:
# 성능 지표는 정확도(accuracy), 교차 검증 세트는 3개
scores = cross_val_score(logi, x, y, scoring='roc_auc', cv=5)
print('교차 검증별 정확도:', np.round(scores,4))
print('평균 검증 정확도:', np.round(np.mean(scores)))